body {
  background-image: url("https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80");
  background-size: cover;

}



#main-hero {
  min-height: calc(100vh - 75px);
  flex-grow: 1;
}

.splash {
  flex-direction: column;
  justify-content: space-between;
}

.attackCard {
  /* background-color: rgba(128, 128, 128, 0.742); */
  border-radius: 100%;
  /* width: 350px;
  height: 350px; */
  box-shadow: 5px 5px 10px;
  user-select: none;
}

.bottomSplash {
  background-color: rgba(16, 194, 16, 0.316);
  width: 97vw;
  margin: 2vh;
  border-radius: 5px 5px 10px;
  border: 2px solid rgb(16, 194, 16);
  padding: 2vh;
}

.moneyCard {
  margin-top: 2vh;
  padding: 2vh;
  background-color: rgba(50, 108, 167, 0.448);
  border: 2px solid rgba(50, 108, 167, 0.764);
  border-radius: 5px 5px 10px;
}